.App {
  margin: 4rem 0;
}

section:not(:first-child) {
  margin-top: 2rem;
}

section .MuiFormControl-root:first-child {
  display: flex;
  flex-direction: row;
}

.MuiInputBase-root {
  margin-bottom: 1rem !important;
}

.MuiCardContent-root {
  padding: 2rem 1rem !important;
}

.MuiButton-containedPrimary {
  margin-top: .5rem !important;
}

.error-message {
  color: #f05359;
}
