.App {
  margin: 2rem 0;
}

section:not(:first-child) {
  margin-top: 1rem;
}

.MuiInputBase-root {
  margin-bottom: 0.5rem !important;
}

.MuiCardContent-root {
  padding: 2rem 1rem !important;
}

.error-message {
  color: #f05359;
}
